<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         printerClass="yiiunit\ResultPrinter">
  <testsuites>
    <testsuite name="Yii Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
      <exclude>
        <file>src/helpers/Json.php</file>
        <file>src/helpers/StringHelper.php</file>
        <file>src/helpers/VarDumper.php</file>
        <file>src/helpers/Html.php</file>
        <file>src/helpers/Inflector.php</file>
        <file>src/helpers/FileHelper.php</file>
        <file>src/helpers/ArrayHelper.php</file>
        <file>src/helpers/Console.php</file>
        <file>src/i18n/GettextFile.php</file>
        <file>src/web/ResponseFormatterInterface.php</file>
        <directory suffix="Exception.php">src/base</directory>
        <directory suffix=".php">src/db/mssql</directory>
        <directory suffix=".php">src/bootstrap</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
